## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import gettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

% if uses_bootstrap:
  <div class="container-fluid wrapper-footer">
    <footer>
      <div class="row">
        <div class="col-md-9">
          {% if INDIGO_FOOTER_NAV_LINKS %}
          <nav class="navbar site-nav navbar-expand-sm" aria-label="${_('About')}">
            <ul class="navbar-nav">
              {% for link in INDIGO_FOOTER_NAV_LINKS %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ link['url'] }}">{{ link['title'] }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </footer>
  </div>